<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.product.QCMapper">
    <resultMap id="QCResultMap" type="com.example.demo.model.QCDTO">
        <result property="code" column="code" />
        <result property="name" column="name" />
        <result property="model" column="model" />
        <result property="specification" column="specification" />
        <result property="period" column="period" />
        <result property="mpsId" column="mpsId" />
        <result property="passed" column="passed" jdbcType="TINYINT" javaType="boolean" />
    </resultMap>

    <select id="selectAllQC" resultMap="QCResultMap">
        SELECT 
            p.pk AS code,
            p.name,
            p.model,
            p.specification,
            m.period,
            m.pk AS mpsId,
            isPassed AS passed
        FROM QC
        JOIN MPS m ON QC.MPSId = m.pk
        JOIN Product p ON m.ProductId = p.pk
    </select>

    <insert id="insertQC" parameterType="com.example.demo.model.QCDTO">
        INSERT INTO QC (MPSId, isPassed) VALUES (#{mpsId}, #{passed})
    </insert>

    <select id="searchQC" resultMap="QCResultMap">
        SELECT 
            p.pk AS code,
            p.name,
            p.model,
            p.specification,
            m.period,
            m.pk AS mpsId,
            QC.isPassed AS passed
        FROM QC
        JOIN MPS m ON QC.MPSId = m.pk
        JOIN Product p ON m.ProductId = p.pk
        <where>
            <if test="dateFrom != null and dateFrom != ''">
                AND m.period &gt;= #{dateFrom}
            </if>
            <if test="dateTo != null and dateTo != ''">
                AND m.period &lt;= #{dateTo}
            </if>
            <if test="prodName != null and prodName != ''">
                AND LOWER(p.name) LIKE CONCAT('%', LOWER(#{prodName}), '%')
            </if>
            <if test="category != null and category != ''">
                AND QC.isPassed =
                <choose>
                    <when test="category == 'passed'">1</when>
                    <when test="category == 'failed'">0</when>
                </choose>
            </if>
        </where>
    </select>
</mapper>