<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.sales.SalesMapper">
    <select id="selectAllSales" resultType="com.example.demo.model.Sales">
        SELECT
            td.pk AS pk,
            td.Date AS saleDate,
            td.ProductId AS productId,
            p.Name AS productName,
            td.Sales AS quantity,
            td.Earning AS earning,
            p.price AS price
        FROM `transaction_details` td
        INNER JOIN product p ON td.ProductId = p.pk
    </select>

    <select id="selectSalesByCondition" resultType="com.example.demo.model.Sales">
        SELECT
            td.pk AS pk,
            td.Date AS saleDate,
            td.ProductId AS productId,
            p.Name AS productName,
            td.Sales AS quantity,
            td.Earning AS earning,
            p.price AS price,
            p.category AS category
        FROM `transaction_details` td
        INNER JOIN product p ON td.ProductId = p.pk
        <where>
            <if test="code != null and code != ''">
                AND td.ProductId LIKE CONCAT('%', #{code}, '%')
            </if>
            <if test="name != null and name != ''">
                AND p.Name LIKE CONCAT('%', #{name}, '%')
            </if>
            <if test="outDate != null and outDate != ''">
                AND td.Date = #{outDate}
            </if>
            <if test="category != null and category != ''">
                AND p.category = #{category}
            </if>
        </where>
        ORDER BY td.Date DESC
    </select>
</mapper>