<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.purchase.PurchaseMapper">
    <select id="selectAllPurchases" resultType="com.example.demo.model.PurchaseDTO">
        SELECT
            p.MaterialId AS MaterialId,
            p.Cost AS Cost,
            p.Purchase AS Purchase,
            p.Date AS Date,
            m.Name AS materialName
        FROM purchase p
        INNER JOIN material m ON p.MaterialId = m.pk
    </select>
</mapper>