<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.BOMMapper">
    <select id="selectAllBOM" resultType="com.example.demo.model.BOMDTO">
        SELECT * FROM BOM
    </select>
    <insert id="insertBOM" parameterType="com.example.demo.model.BOMDTO">
        INSERT INTO BOM (ProductId, MaterialId, MaterialAmount) VALUES (#{ProductId}, #{MaterialId}, #{MaterialAmount})
    </insert>
</mapper>
