<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.OrderMapper">
    <select id="selectAllOrders" resultType="map">
        SELECT o.pk, o.Date, o.ProductId, o.ProductName, o.Amount, o.Price, o.Total, o.OrderStatus
        FROM `order` o
    </select>
</mapper>