<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.SalesMapper">
    <select id="selectAllSales" resultType="com.example.demo.model.Sales">
        SELECT
            td.Date AS saleDate,
            td.ProductId AS productId,
            p.Name AS productName,
            td.Sales AS quantity,
            td.Earning AS amount
        FROM `transaction_details` td
        INNER JOIN product p ON td.ProductId = p.pk
    </select>
</mapper>